h1
{
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 5%;
}

body
{
  background-color
}

#main
{
  background-color: #ebb3a7;
  text-align: center;
}

#info
{
  padding-top: 3%;
  background-color: #4dbdbf;
}

#nugget
{
  width: 20%;
}

#nuggets
{
  padding-top: 3%;
}